* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul li {
        display: inline-block;
        margin-left: 2em;
    }
    & ul li a {
        color: #000;
        text-decoration: none;
    }
}